@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Shoes.Models.Sale

<h1>Edit this shoe</h1>

<h2>Edit</h2>
</hr>
<h4>Edit this shoe: @Html.DisplayFor(model => model.ShoeName)</h4>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SaleId)

    @Html.LabelFor(model => model.ShoeName)
    @Html.EditorFor(model => model.ShoeName, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.Comment)
    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })

    <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
